:root {
    --bg-color: rgb(255, 255, 255);
    --text-color: rgb(34, 34, 34);
    --selective-yellow: #fbba00;
    --regal-blue: #00437a;
    --blumine: #195687;
    --midnight-blue: #003662;

    --container-width: 1440px;

    --shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    --shadow-selected: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    --border: 0px solid var(--blumine);
    --border-radius: 0.5rem;
}