:root {
    --bg-color: rgb(246, 246, 246);
    --text-color: rgb(34, 34, 34);
    --selective-yellow: #fbba00;
    --regal-blue: #00437a;
    --blumine: #195687;
    --midnight-blue: #003662;

    --container-width: 1440px;
}