.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    background-color: rgb(250, 251, 253);
    border-top: var(--border);
    border-bottom: var(--border);
    border-left: none;
    border-right: none;
    border-radius: 0rem;
    width: 100%;
    overflow-x: hidden;
    box-shadow: var(--shadow);
}

.search-bar button {
    cursor: pointer;
}

@media (min-width: 370px) {
    .search-bar {
        border-left: var(--border);
        border-right: var(--border);
        border-radius: 0.5rem;
    }
}

@media (min-width: 768px) {
    .search-bar {
        width: fit-content;
    }
}