.header {
    padding: 2rem clamp(1rem, 4vw, 4rem);
    width: 100%;
    max-width: var(--container-width);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* TODO: size logos by height of header__container */
.header__logo img {
    width: auto;
    height: 4rem;
    object-fit: contain;
}

.header__logos {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.header__logos img {
    width: auto;
    height: 3rem;
    object-fit: contain;
}

.header__logos img:nth-child(1) {
    height: 2.5rem;
    margin-right: 1rem;
}

.header__logos h2 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

@media (max-width: 768px) {
    .header__container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header__logo img {
        height: 6rem;
    }

    .header__logos {
        display: none;
    }
}