.footer {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 4rem clamp(1rem, 4vw, 4rem);
  background-color: rgb(34, 34, 34);
  color: rgb(246, 246, 246);
}

.footer__container {
  width: 100%;
  max-width: var(--container-width);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: 'vcsm', Arial, Helvetica, sans-serif;
  gap: 1rem;
}

.footer__header h2 {
  font-size: 1.375rem;
  font-weight: 400;
  margin: 0;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__content p {
  
  font-size: 1rem;
  font-weight: 100;
  margin: 0;
}

@media (max-width: 768px) {
  .footer {
    align-items: center;
    padding: 4rem 1rem;
  }

  .footer__container {
    max-width: 24rem;
  }

  .footer__header h2 {
    text-align: center;
  }
}