body,
html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: GothamSSm, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
}

@font-face {
  font-family: 'GothamSSm';
  font-weight: 900;
  src: local('GothamSSm-Black_Web'), url('./assets/fonts/GothamSSm-Black_Web.woff') format('woff');
}

@font-face {
  font-family: 'GothamSSm';
  font-weight: 900;
  font-style: italic;
  src: local('GothamSSm-BlackItalic_Web'),
    url('./assets/fonts/GothamSSm-BlackItalic_Web.woff') format('woff');
}

@font-face {
  font-family: 'GothamSSm';
  font-weight: 700;
  src: local('GothamSSm-Bold_Web'), url('./assets/fonts/GothamSSm-Bold_Web.woff') format('woff');
}

@font-face {
  font-family: 'GothamSSm';
  font-weight: 700;
  font-style: italic;
  src: local('GothamSSm-BoldItalic_Web'),
    url('./assets/fonts/GothamSSm-BoldItalic_Web.woff') format('woff');
}

@font-face {
  font-family: 'GothamSSm';
  font-weight: 400;
  font-style: italic;
  src: local('GothamSSm-BookItalic_Web'),
    url('./assets/fonts/GothamSSm-BookItalic_Web.woff') format('woff');
}

@font-face {
  font-family: 'GothamSSm';
  font-weight: 400;
  src: local('GothamSSm-Book_Web'), url('./assets/fonts/GothamSSm-Book_Web.woff') format('woff');
}

@font-face {
  font-family: 'GothamSSm';
  font-weight: 300;
  font-style: italic;
  src: local('GothamSSm-LightItalic_Web'),
    url('./assets/fonts/GothamSSm-LightItalic_Web.woff') format('woff');
}

@font-face {
  font-family: 'GothamSSm';
  font-weight: 300;
  src: local('GothamSSm-Light_Web'), url('./assets/fonts/GothamSSm-Light_Web.woff') format('woff');
}

@font-face {
  font-family: 'GothamSSm';
  font-weight: 500;
  font-style: italic;
  src: local('GothamSSm-MediumItalic_Web'),
    url('./assets/fonts/GothamSSm-MediumItalic_Web.woff') format('woff');
}
@font-face {
  font-family: 'GothamSSm';
  font-weight: 500;
  src: local('GothamSSm-Medium_Web'), url('./assets/fonts/GothamSSm-Medium_Web.woff') format('woff');
}

@font-face {
  font-family: 'GothamSSm';
  font-weight: 200;
  font-style: italic;
  src: local('GothamSSm-XLightItalic_Web'),
    url('./assets/fonts/GothamSSm-XLightItalic_Web.woff') format('woff');
}
@font-face {
  font-family: 'GothamSSm';
  font-weight: 200;
  src: local('GothamSSm-XLight_Web'), url('./assets/fonts/GothamSSm-XLight_Web.woff') format('woff');
}